/componentVersions
/shelf
/port
/tasks
/disabled_plugins.txt
/disabled_update.txt
/options/IntelliLang.xml
/options/appComponentVersions.xml
/options/applicationLibraries.xml
/options/browsers.xml
/options/cachedDictionary.xml
/options/debugger.frameview.xml
/options/debugger.renderers.xml
/options/editor.codeinsight.xml
/options/editor.xml
/options/encoding.xml
/options/feature.usage.statistics.xml
/options/gemmanager.xml
/options/images.support.xml
/options/jdk.table.xml
/options/mavenVersion.xml
/options/notifications.xml
/options/osmorc.xml
/options/other.xml
/options/packages.xml
/options/path.macros.xml
/options/plainTextFiles.xml
/options/plugin_ui.xml
/options/project.default.xml
/options/runner.layout.xml
/options/scala.xml
/options/security.xml
/options/statistics.application.usages.xml
/options/stubIndex.xml
/options/ui.lnf.xml
/options/usage.statistics.xml
/options/vcs.xml
/options/webServers.xml
/options/window.manager.xml
/quicklists/Deployment.xml
/quicklists/Ruby_Rails.xml
